header {
    background:#00476c;
    padding-bottom:10px;
}
#slide_1 {
    background:white;
    color:#26262e;
    position: relative;
}
#slide_1>.margin {
    width:Calc(100% - 8.6% - 8.6%);
    margin-left:8.6%;
}
#slide_1 h1 {
    font-family:"Open Sans",sans-serif;
    font-weight:normal;
    font-size:50px;
    margin:0;
    padding:0;
    display: inline-block;
    width:100%;
    text-align: left;
    margin-top:70px;
    margin-bottom:42px;
}
#slide_1 h3 {
    font-family:"Open Sans",sans-serif;
    font-size:20px;
    margin:0;
    font-weight:bold;
    padding:0;
    display: inline-block;
    width:100%;
    text-align: left;
    margin-bottom:28px;
}
#slide_1 .block_1{
    width:50%;
    float: left;
    margin-bottom:87px;
}
#slide_1 .block_1:last-child {
    width:45%;
    margin-left:5%;
}
#slide_1 h2 {
    font-family:"Lato",sans-serif;
    font-weight:bold;
    font-size:20px;
    margin:0;
    padding:0;
}
#slide_1 p{
    font-family:"Lato",sans-serif;
    font-size:20px;
    margin:0;
    font-weight:lighter;
    padding:0;
    margin-bottom:26px;
    line-height:26px;
}

