html,body {
    padding:0;
    margin:0;
    border:0;
    outline:none;
    background:black;
    overflow-x:hidden;
    color:white;
}
.background {
    display: inline-block;
    width:100%;
    height:auto;
}
.margin {
    display: inline-block;
    max-width:1366px;
    width:Calc(100% - 4.67% - 4.67%);
    margin:0 4.67%;
    background:rgba(10,33,45,0.98);
    background:transparent;
    position: relative;
    vertical-align: top;
    color:#4f4f4f;
    overflow: hidden;
}

@media (min-width:1367px) {
    .margin {
        margin:0 Calc((100% - 1367px)/2);
    }
}

a#headerLogo {
    display: inline-block;
    margin-left:3.37%;
    margin-top:23px;
    margin-right:4%;
}
#headerLogo img{
    height:63px;
    vertical-align: middle;
}
header a {
    text-decoration:none;
}
header a:not(#headerLogo):not(#signUp):not(.socialIcon) {
    padding-left:1.8%;
    padding-right:1.8%;
}
.headerLink,#signUp>span {
    font-family:"Lato",sans-serif;
    font-size:14px;
    text-transform:uppercase;
    font-weight:bold;
    color:white;
}
#myWallet {
    border-left:2px solid white;
}
#services {
    padding-left:0;
}
#signUp{
    padding: 9px 1.2%;
    border: 2px solid white;
    border-radius: 3px;
}
.socialIcon {
    width: 22px;
    height: 22px;
    background: no-repeat center;
    background-size: auto 100%;
    display: inline-block;
    margin-left: 1.4%;
    top: 6px;
    position: relative;
}
#twitterLogo {
    margin-left:0.98%;
    background-image:url("../rsc/icon/twitter.png");
}
#facebookLogo {
    background-image:url("../rsc/icon/facebook.png");
    background-size: auto 150%;
}

.click_able:hover {
    cursor: pointer;
}

footer {
    background:#00476c;
    display: inline-block;
    width:100%;
    font-family:"Lato",sans-serif;
    z-index: 1000;
    position: relative;
}
footer * {
    color:white;
}
footer .margin{
    display: inline-block;
    width: Calc(100% - 6.672% - 6.672%);
    margin: 0 6.672%;
    vertical-align: middle;
}
footer .margin>* {
    float: left;
}
#phoneFooter{
    height:35px;
    width:29px;
    margin:19px 0;
    background:url("../rsc/icon/phone.png") no-repeat center;
    background-size:auto 84%;
}
#phoneDir,#mailDir,#followUs{
    font-size:18px;
    margin-top:25px;
    margin-left:1.637%;
}
#mailDir,#followUs{
    margin-top:23px;
}
#followUs {
    margin-left:20.5%;
    color:transparent;
}
#mailFooter {
    height:17px;
    width:27px;
    margin-top:26px;
    margin-left:13.531%;
    background:url("../rsc/icon/mail.png") no-repeat center;
    background-size:95% auto;
}
footer a {
    height:21px;
    width:21px;
    margin-left:2%;
    margin-top:25px;
    display: inline-block;
    background:transparent no-repeat center;
}
footer a:nth-of-type(1) {
    background-size:150% auto;
    background-image: url("../rsc/icon/facebook.png") !important;
}
footer a:nth-of-type(2) {
    margin-left:1.3%;
    background-size:100% auto;
    background-image: url("../rsc/icon/twitter.png") !important;
}



#slide_0,#slide_000 {
    width:270px;
    padding:10px 0;
    z-index: 10000;
    top:92px;
    left:50%;
    position: absolute;
    background:white;
    border-radius:5px;
    color:#4f4f4f;
}
#slide_000 {
    top:auto !important;
}
#popupClose,#popupClose_2 {
    width:13px;
    height:13px;
    margin-left:Calc(100% - 13px - 10px);
    margin-right:10px;
    background:transparent url("../rsc/icon/close.png") no-repeat center;
    background-size:100% auto;
    margin-bottom:14px;
    float: left;
    color:#4f4f4f;
}
#slide_0 .image,#slide_000 .image {
    width:20px;
    height:20px;
    background: no-repeat center;
    background-size:auto 90%;
    float: left;
    margin-left:20px;
}
#slide_0 .image#phone,#slide_000 .image#phone_2 { background-image:url("../rsc/icon/bluephone.png") !important; }
#slide_0 .image#at,#slide_000 .image#at_2 {
    background-image:url("../rsc/icon/at.png") !important;
    clear: left;
}
#slide_0 span,#slide_000 span {
    float: left;
    display: inline-block;
    font-size:14px;
    font-family:"Lato",sans-serif;
    margin-bottom:16px;
    margin-left:10px;
}
#lastMessage,#lastMessage_2 {
    width:Calc(100% - 15px);
    margin:0 15px;
    text-align:center;
    margin-bottom:21px;
}
#slide_0 .image#webinar,
#slide_0 .image#chat,
#slide_000 .image#webinar_2,
#slide_000 .image#chat_2 {
    height:90px;
    width:90px;
    margin-bottom:22px;
}
#slide_0 .image#webinar,
#slide_000 .image#webinar_2 {
    margin-right:26px;
    background-image:url("../rsc/icon/webinar.png") !important;
}
#slide_0 #divisor,
#slide_000 #divisor_2{
    width:2px;
    float: left;
    height:60px;
    margin-top:15px;
    background:#a8a8a8;
}
.hiddenPopup {
    pointer-events:none;
    opacity:0;
}
.hiddenPopup * {
    pointer-events:none;
}
#slide_0 .image#chat,
#slide_000 .image#chat_2 {
    margin-left:26px;
    background-image:url("../rsc/icon/chat.png") !important;
}

.hiddenPopup_2 {
    pointer-events:none;
    opacity:0;
}
.hiddenPopup_2 * {
    pointer-events:none;
}

#slide_00 {
    width:270px;
    padding:10px 0;
    z-index: 10000;
    top:92px;
    left:50%;
    position: absolute;
    background:white;
    border-radius:5px;
    color:#4f4f4f;
}
#slide_00 span {
    width:100%;
    text-align:center;
    display: inline-block;
    font-size:16px;
    font-family:"Lato",sans-serif;
    margin-bottom:16px;
    color:#4f4f4f;
    font-weight:bold;
}
#slide_00 span:last-of-type {
    font-size:14px;
}
#slide_00 div.iconInput {
    display: inline-block;
    height:36px;
    width:10%;
    border:2px solid rgba(229,229,229,1);
    border-radius:10px 0 0 10px;
    border-right:0;
    float: left;
    margin-left:8%;
}
#slide_00 input {
    outline:none;
    float: left;
    font-size:14px;
    font-size:16px;
    font-family:"Lato",sans-serif;
    color:#4f4f4f;
    text-indent:1%;
    height:30px;
    padding:3px 0;
    margin:0;
    width:75%;
    border:2px solid rgba(229,229,229,1);
    border-radius:0 10px 10px 0;
    border-left:0;
}
#slide_00 input:first-of-type {
    margin-bottom:15px;
}
#slide_00 input:last-of-type {
    margin-bottom:18px;
}
#slide_00 a {
    font-family:"Lato",sans-serif;
    font-size:14px;
    font-weight:bold;
    color:white;
    background:#10a4ee;
    padding:9px 5%;
    margin-bottom:15px;
    border-radius:5px;
    display: inline-block;
    margin-left:27%;
}
#slide_00 input::-webkit-input-placeholder {
    color:#26262e;
}

.iconInput {
    background:transparent no-repeat center;
    background-size:auto 55%;
}
.iconInput#userIcon_ {
    background-image: url("../rsc/icon/user.png") !important;
}
.iconInput#passIcon_ {
    background-image: url("../rsc/icon/pass.png") !important;
}


.banner {
    height:100px;
    background:url("../rsc/bg/banner.png") no-repeat center;
    background-size:100% auto;
    vertical-align:middle;
    display: table;
}
.banner>h1{
    color:white;
    font-family:"Open Sans",sans-serif;
    font-size:36px;
    display: table-cell;
    vertical-align: middle;
    padding-left:7%;
    font-weight:lighter;
}

.noBullet{
    list-style:none;
}
.circle{
    list-style:bullet;
}

[class^="block"] {
    float: left;
}

a[selectedLink]>span{
    color:#10a4ee !important;
}

/*Mobile header*/
header.mobileHeader {
    position: relative;
}
div#mobileMenuToggle {
    height:50px;
    width:50px;
    float: right;
    right:4%;
    top:Calc(50% - 25px);
    background:url("../rsc/icon/menu-button.svg") no-repeat center;
    background-size:100% auto;
    position: absolute;
}
div#mobileMenuToggle.show {
    background-image:url("../rsc/icon/multiply.svg") !important;
    background-size:90% auto;
}

/*dropdown*/
.mainDropDown {
    background:white;
    top:auto;
    left:0;
    width:274px;
    position: absolute;
    z-index: 10000;
}
.mainDropDown>a {
    font-family:"Lato",sans-serif;
    padding:22px 0;
    text-align:center;
    display: inline-block;
    width:100%;
    text-transform:uppercase;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    color:#10a4ee;
    background:transparent;
    transition:all 0.2s ease-in-out;
}
.mainDropDown>a:hover {
    color:white;
    background:#10a4ee;
}


#front {
    width:100%;
    height:100%;
    position: absolute;
    left:0;
    top:0;
    pointer-events:none;
}
#squares{
    position: absolute;
    pointer-events: none;
    width:100%;
    height:100%;
}
.square {
    height:100px;
    width:100px;
    position: absolute;
    right:0; top:0;
    background-size:100% 100% !important;
}


#mobileMenu {
    width:35%;
    right:0;
    background:transparent;
    position:absolute;
    pointer-events:none;
    display: none;
    z-index:100;
}
#mobileMenu.fix {
    position: fixed;
    top:0;
}
#mobileMenu a {
    /*right:-100%;*/
    background:white;
    pointer-events:all;
}
#mobileMenu a,#mobileMenu span {
    display: inline-block;
    width:100%;
    color:#10a4ee !important;
    text-decoration:none;
    padding:0;
    font-weight:bold !important;
    text-transform:uppercase;
    font-family:"Lato",sans-serif !important;
    font-size:17px;
    position: relative;
}
#mobileMenu a{
    width:80%;
    padding:15px 10%;
}
#mobileMenu>a.blue {
    color:white !important;
    background:#10a4ee;
}

#mobileMenu a:not(:last-of-type):after {
    position: absolute;
    bottom:0;
    content: '';
    height:1px;
    width:80%;
    left:10%;
    background:#10a4ee;
    opacity:0.5;
}


.openContact {
    color:white !important;
    text-decoration:none !important;
}

#phoneCall a{
    padding: 0 !important;
    background: transparent;
    color: #4f4f4f;
    margin: 0;
}